<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Export Option</th>
            <th>Last Export</th>
            <th>File Size</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <button onclick="exportData()" class="btn btn-info btn-block">Export Data</button>
            </td>
            <td><%= @data_last_export_date %></td>
            <td><%= @data_storage_size %></td>
            <td>
              <% if !@data_export_id.blank? %>
                <a href="/download_export_record?export_id=<%= @data_export_id %>">Download</a>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <button onclick="exportFiles()" class="btn btn-info btn-block">Export Files</button>
            </td>
            <td><%= @files_last_export_date %></td>
            <td><%= @files_storage_size %></td>
            <td>
              <% if !@files_export_id.blank? %>
                <a href="/download_export_record?export_id=<%= @files_export_id %>">Download</a>
              <% else %>
                -
              <% end %>
            </td>
          </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.export_all').addClass('active');
    })

    function exportData() {
        window.location = "/export_data"
    }

    function exportFiles() {
        window.location = "/export_files"
    }

</script>