<form action="/list_vendors" method="get">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group" id="adv-search">
        <button type="button" id="adv-search-btn" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Vendor Name
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" onclick="updateSearchParam('Vendor Name', 'name')"><a href="#">Vendor Name</a></li>
          <li class="dropdown-item" onclick="updateSearchParam('Vendor Barcode', 'number')"><a href="#">Vendor Barcode</a></li>
          <li class="dropdown-item" onclick="updateSearchParam('Vendor Email', 'email')"><a href="#">Vendor Email</a></li>
          <li class="dropdown-item" onclick="updateSearchParam('Vendor Contact Name', 'contact_name')"><a href="#">Vendor Contact Name</a></li>
          <li class="dropdown-item" onclick="updateSearchParam('Vendor Phone Number', 'phone')"><a href="#">Vendor Phone Number</a></li>
        </ul>
        <input type="text" name="q" id="search" required class="form-control" placeholder="Search"/>
        <input type="hidden" name="search_field" id="searchField" class="form-control" value="name"/>
        <input type="hidden" name="search_caption" id="searchCaption" class="form-control" value="Vendor Name"/>
        <div class="input-group-btn">

          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-success">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<br/>

<!-- Default box -->
<div class="card">
  <div class="card-body ">
    <table class="table-striped table-condensed" style="width: 100%;">
      <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Phone #</th>
        <th>Contact Name</th>
        <th>Email</th>
        <th>Last Update</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <% @vendors.each do |vendor| %>
        <tr>
          <td><%= vendor.name %></td>
          <td><%= vendor.number %></td>
          <td><%= vendor.phone %></td>
          <td><%= vendor.contact_name %></td>
          <td><%= vendor.email %></td>
          <td><%= vendor.updated_at.strftime("%d.%m.%Y") %></td>
          <td>
            <a class="btn btn-primary btn-block" href="/edit_vendor?vendor_id=<%= vendor.vendor_id %>"><i class="fas fa-user-edit"></i>Edit</a>
          </td>
          <td class="project-actions text-right" onclick="voidVendorConfirm('<%= vendor.vendor_id %>')">
            <a class="btn btn-danger btn-block" href="#"><i class="fas fa-trash"></i>Delete</a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->


<!-- Modal -->
<div class="modal fade" id="voidVendorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alert</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This will permanently delete the selected record. Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, Am Not Sure</button>
        <button onclick="voidVendor();" type="button" class="btn btn-primary">Yes, Am Sure</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.vendors').addClass('active');
        jQuery('.list_vendors_menu').addClass('active');
        jQuery('.vendors-menu').addClass('menu-open');
        loadDefaults();
    })

    var selectedVendorID;

    function voidVendorConfirm(id) {
        selectedVendorID = id;
        jQuery('#voidVendorModal').modal('show');
    }

    function voidVendor() {
        var body = document.getElementsByTagName("body")[0];

        var form = document.createElement("form");
        form.method = "POST";
        form.action = "/delete_vendor";
        body.appendChild(form);

        var input = document.createElement("input");
        input.type = "hidden";
        input.value = selectedVendorID;
        input.name = "id";
        form.appendChild(input);

        form.submit();
    }

    function updateSearchParam(key, value){
        jQuery("#adv-search-btn").html(key);
        jQuery("#searchField").val(value);
        jQuery("#searchCaption").val(key);
    }
    var value = '<%= params[:q] %>'
    var search_caption = '<%= params[:search_caption] %>'
    function loadDefaults(){
        if (value){
            jQuery("#adv-search-btn").html(search_caption);
            jQuery("#search").val(value);
            jQuery("#searchCaption").val(search_caption);
        }
    }

</script>