

<!-- Default box -->
<div class="card">
  <div class="card-body ">
    <table class="table-striped table-condensed" style="width: 100%;">
      <thead>
      <tr>
        <th>Asset Name</th>
        <th>Asset Number</th>
        <th>Location</th>
        <th>Status</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Last Update</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @assets.each do |asset| %>
        <tr>
          <td><%= asset.name %></td>
          <td><%= asset.barcode %></td>
          <td><%= asset.location_id %></td>
          <td><%= '' %></td>
          <td><%= asset.brand %></td>
          <td><%= asset.model %></td>
          <td><%= asset.updated_at.strftime("%d.%m.%Y") %></td>
          <td>
            <div class="btn-group btn-block">
              <button type="button" class="btn btn-success">Action</button>
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" href="/edit_asset?asset_id=<%= asset.asset_id %>">Update</a>
                <a class="dropdown-item" href="#">Clone</a>
                <a class="dropdown-item" href="#">Retire</a>
                <a class="dropdown-item" href="#" onclick="voidAssetConfirm('<%= asset.asset_id %>')">Delete</a>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->


<!-- Modal -->
<div class="modal fade" id="voidAssetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alert</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This will permanently delete the selected record. Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, Am Not Sure</button>
        <button onclick="voidAsset();" type="button" class="btn btn-primary">Yes, Am Sure</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.assets').addClass('active');
        jQuery('.list_assets_menu').addClass('active');
        jQuery('.assets-menu').addClass('menu-open');
    })

    var selectedAssetID;

    function voidAssetConfirm(id) {
        selectedAssetID = id;
        jQuery('#voidAssetModal').modal('show');
    }

    function voidAsset() {
        var body = document.getElementsByTagName("body")[0];

        var form = document.createElement("form");
        form.method = "POST";
        form.action = "/delete_asset";
        body.appendChild(form);

        var input = document.createElement("input");
        input.type = "hidden";
        input.value = selectedAssetID;
        input.name = "id";
        form.appendChild(input);

        form.submit();
    }
</script>