<!-- Default box -->
<div class="card">
  <div class="card-body ">
    <table class="table-striped table-condensed" style="width: 100%;">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Personnel Number</th>
        <th>Email</th>
        <th>Phone #</th>
        <th>Last Update</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td><%= person.barcode %></td>
          <td><%= person.email %></td>
          <td><%= person.phone %></td>
          <td><%= person.updated_at.strftime("%d.%m.%Y") %></td>
          <td>
            <a class="btn btn-primary btn-block" href="/edit_person?person_id=<%= person.person_id %>"><i class="fas fa-user-edit"></i>Edit</a>
          </td>
          <td class="project-actions text-right" onclick="voidPersonConfirm('<%= person.person_id %>')">
            <a class="btn btn-danger btn-block" href="#"><i class="fas fa-trash"></i>Delete</a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->


<!-- Modal -->
<div class="modal fade" id="voidPersonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alert</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This will permanently delete the selected record. Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, Am Not Sure</button>
        <button onclick="voidPerson();" type="button" class="btn btn-primary">Yes, Am Sure</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.people').addClass('active');
        jQuery('.list_person_menu').addClass('active');
        jQuery('.people-menu').addClass('menu-open');
    })

    var selectedPersonID;

    function voidPersonConfirm(id) {
        selectedPersonID = id;
        jQuery('#voidPersonModal').modal('show');
    }

    function voidPerson() {
        var body = document.getElementsByTagName("body")[0];

        var form = document.createElement("form");
        form.method = "POST";
        form.action = "/delete_person";
        body.appendChild(form);

        var input = document.createElement("input");
        input.type = "hidden";
        input.value = selectedPersonID;
        input.name = "id";
        form.appendChild(input);

        form.submit();
    }
</script>