<form id="assetForm" action="/new_asset_menu" method="post" enctype="multipart/form-data">
  <div class="card card-primary card-outline">

    <div class="card-body">

      <div class="row">
        <div class="col-md-6">
          <!-- Buttons with Icons -->
          <div class="card">
            <div class="card-body row">
              <div>
                <button onclick="validateForm()" type="button" class="btn btn-primary">
                  <i class="fa fa-save"></i> Save
                </button>
                <button type="button" class="btn btn-warning">
                  <i class="fa fa-upload"></i> Upload Assets From CSV
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="custom-content-above-purchasing-tab" data-toggle="pill" href="#custom-content-above-purchasing" role="tab" aria-controls="custom-content-above-purchasing" aria-selected="false">Purchasing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="custom-content-above-service-tab" data-toggle="pill" href="#custom-content-above-service" role="tab" aria-controls="custom-content-above-service" aria-selected="false">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="custom-content-above-settings-tab" data-toggle="pill" href="#custom-content-above-notes" role="tab" aria-controls="custom-content-above-notes" aria-selected="false">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="custom-content-above-settings-tab" data-toggle="pill" href="#custom-content-above-files" role="tab" aria-controls="custom-content-above-notes" aria-selected="false">Files</a>
        </li>
      </ul>

      <div class="tab-content" id="custom-content-above-tabContent">
        <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">

          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Asset Name<span class="text-red"> *</span></label>
                    <input type="text" id="assetName" name="name" required class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Asset Number</label>
                    <input type="text" name="barcode" class="form-control" placeholder="Automatic">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Asset Type</label>
                    <select name="asset_type_id" class="form-control custom-select">
                      <option value="" selected disabled>Select one</option>
                      <% @asset_types.each do |asset_type| %>
                        <option id="asset_type_id_<%= asset_type.asset_type_id %>" value="<%= asset_type.asset_type_id %>"><%= asset_type.name %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Manufacturer</label>
                    <input type="text" name="manufacturer" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Brand</label>
                    <input type="text" name="brand" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Model</label>
                    <input type="text" name="model" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Picture</label>
                    <div class="form-group">
                      <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="fileupload-new thumbnail" style=" height: 150px;">
                            <img src="/assets/demoUpload.jpg" alt=""/>
                        </div>
                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                        <div>
                        <span class="btn btn-file btn-info">
                          <span class="fileupload-new">Select image</span>
                          <span class="fileupload-exists">Change</span>
                          <input type="file" name="picture"/>
                        </span>
                          <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>

        <div class="tab-pane fade" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Status</label>
                    <select name="status_selection_field_id" class="form-control custom-select">
                      <option value="" selected disabled>Select one</option>
                      <% @status_selection_fields.each do |selection_field| %>
                        <option id="selection_field_id_<%= selection_field.selection_field_id %>" value="<%= selection_field.selection_field_id %>"><%= selection_field.field_name %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Checked out to</label>
                    <select name="custodian_id" class="form-control custom-select">
                      <option value="" selected disabled>Select one</option>
                      <% @people.each do |person| %>
                        <option id="person_id_<%= person.person_id %>" value="<%= person.person_id %>"><%= "#{person.first_name} #{person.last_name}" %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Return By</label>
                    <input type="date" name="return_date" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Location</label>
                    <select name="location_id" class="form-control custom-select">
                      <option value="" selected disabled>Select one</option>
                      <% @locations.each do |location| %>
                        <option id="location_id_<%= location.location_id %>" value="<%= location.location_id %>"><%= location.name %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Serial Number</label>
                    <input type="text" name="serial_number" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Condition</label>
                    <select name="condition_selection_field_id" class="form-control custom-select">
                      <option value="" selected disabled>Select one</option>
                      <% @condition_selection_fields.each do |selection_field| %>
                        <option id="selection_field_id_<%= selection_field.selection_field_id %>" value="<%= selection_field.selection_field_id %>"><%= selection_field.field_name %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>

        <div class="tab-pane fade" id="custom-content-above-purchasing" role="tabpanel" aria-labelledby="custom-content-above-purchasing-tab">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Vendor</label>
                    <select name="vendor_id" class="form-control custom-select">
                      <option value="" selected disabled>Select one</option>
                      <% @vendors.each do |vendor| %>
                        <option id="vendor_id_<%= vendor.vendor_id %>" value="<%= vendor.vendor_id %>"><%= vendor.name %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Unit Price</label>
                    <input type="text" name="price" class="form-control" placeholder="Automatic">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Date Purchased</label>
                    <input type="date" name="date_purchased" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Purchase Order Number</label>
                    <input type="text" name="order_number" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Account Code</label>
                    <input type="text" name="account_code" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Warranty End</label>
                    <input type="date" name="warranty_end" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>

        <div class="tab-pane fade" id="custom-content-above-service" role="tabpanel" aria-labelledby="custom-content-above-service-tab">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-5 col-sm-3">
                  <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="true">Service Schedule</a>
                    <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile" role="tab" aria-controls="vert-tabs-profile" aria-selected="false">Service Log</a>
                  </div>
                </div>
                <div class="col-7 col-sm-9">
                  <div class="tab-content" id="vert-tabs-tabContent">
                    <div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-3">
                              <button type="button" class="btn btn-default">
                                <i class="fa fa-plus"></i> New</button>
                            </div>
                            <div class="">
                              <button type="button" class="btn btn-default">
                                <i class="fa fa-check"></i> Complete</button>
                            </div>
                            <div class="col-md-4">
                              <button type="button" class="btn btn-default">
                                <i class="fa fa-trash"></i> Delete</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-3">
                              <button type="button" class="btn btn-default">
                                <i class="fa fa-plus"></i> New</button>
                            </div>
                            <div class="col-md-4">
                              <button type="button" class="btn btn-default">
                                <i class="fa fa-trash"></i> Delete</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.card -->
          </div>
        </div>

        <div class="tab-pane fade" id="custom-content-above-notes" role="tabpanel" aria-labelledby="custom-content-above-settings-tab">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-outline card-info">
                <!-- /.card-header -->
                <div class="card-body">
              <textarea id="summernote" name="notes" rows="40">

              </textarea>
                </div>
              </div>
            </div>
            <!-- /.col-->
          </div>
        </div>


        <div class="tab-pane fade" id="custom-content-above-files" role="tabpanel" aria-labelledby="custom-content-above-settings-tab">
          <br/>
          <p><i>To upload multiple files, press <strong>ctrl</strong> on your keyboard + click the file</i></p>
          <div class="col-md-12">
            <div class="form-group" id="fileInput">
              <label for="exampleInputFile">Upload Files</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" name="file[]" class="custom-file-input" multiple>
                  <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- /.card -->
  </div>
</form>

<!-- Modal -->
<div class="modal fade" id="requiredModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alert</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The asset name is required
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>

    $(document).ready(function () {
        // Summernote
        jQuery('#summernote').summernote()

        jQuery('.assets').addClass('active');
        jQuery('.new_asset_menu').addClass('active');
        jQuery('.assets-menu').addClass('menu-open');

        jQuery("#assetForm").submit(function (event) {
            var assetName = jQuery("#assetName").val().trim()
            if (assetName == "") {
                jQuery('#requiredModal').modal('show');
                event.preventDefault();
            }
        });

        bsCustomFileInput.init();
    })

    function validateForm() {
        $("#assetForm").submit();
    }
</script>