<% if params[:field_type].blank? %>
  <div class="row">
    <div class="col-md-7">
      <div class="card card-primary">
        <!-- /.card-header -->
        <div class="card-body">

          <h5>Choose a selection field to add, edit, or delete selection field values:</h5>

          <ul>
            <li><a href="/selection_fields?field_type=status">Status</a></li>
            <li><a href="/selection_fields?field_type=condition">Condition</a></li>
            <li><a href="/selection_fields?field_type=job_title">Job Title</a></li>
            <li><a href="/selection_fields?field_type=shift">Shift</a></li>
            <li><a href="/selection_fields?field_type=service_type">Service Type</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">General info</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <form action="/selection_fields" method="post">
            <div class="form-group">
              <label for="inputName">Name</label>
              <input type="text" required name="field_name" id="inputName" class="form-control">
              <input type="hidden" name="field_type" value="<%= params[:field_type] %>" class="form-control">
            </div>
            <input type="submit" value="Add" class="btn btn-success">
          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><strong><%= params[:field_type].to_s.capitalize %></strong> Options</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table class="table-striped table-condensed" style="width: 100%">
            <thead>
            <tr>
              <th>Selection Field Value</th>
              <th colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            <% @selection_fields.each do |selection_field| %>
              <tr>
                <td><%= selection_field.field_name %></td>
                <td>
                  <button onclick="showEditPopup('<%= selection_field.selection_field_id %>', '<%= selection_field.field_name %>')" class="btn btn-secondary btn-block">Edit</button>
                </td>
                <td>
                  <button onclick="voidSelectionFieldConfirm('<%= selection_field.selection_field_id %>')" class="btn btn-danger btn-block">Delete</button>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="editFieldModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit selection field value</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/update_selection_field" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" name="field_name" id="fieldName" class="form-control">
            <input type="hidden" name="selection_field_id" id="selectionFieldID" class="form-control">
            <input type="hidden" name="field_type" id="fieldType" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" value="Save" class="btn btn-primary">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alert</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This will permanently delete the selected record. Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, Am Not Sure</button>
        <button onclick="voidSelectionField();" type="button" class="btn btn-primary">Yes, Am Sure</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.selection_fields').addClass('active');
    })

    var field_type = '<%= params[:field_type] %>'
    function showEditPopup(selectionFieldID, fieldName){
        jQuery('#fieldName').val(fieldName);
        jQuery('#selectionFieldID').val(selectionFieldID); //
        jQuery('#fieldType').val(field_type);
        jQuery('#editFieldModal').modal('show');
    }

    var selectedSelectionFieldID;

    function voidSelectionFieldConfirm(id) {
        selectedSelectionFieldID = id;
        jQuery('#deleteModal').modal('show');
    }

    function voidSelectionField() {
        var body = document.getElementsByTagName("body")[0];

        var form = document.createElement("form");
        form.method = "POST";
        form.action = "/delete_selection_field";
        body.appendChild(form);

        var input = document.createElement("input");
        input.type = "hidden";
        input.value = selectedSelectionFieldID;
        input.name = "id";
        form.appendChild(input);

        form.submit();
    }
</script>