<div class="row">
  <div class="col-md-7">
    <div class="card card-primary">
      <!-- /.card-header -->
      <div class="card-header">
        <h3 class="card-title">System Information</h3>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td>Company ID:<br/>
              <strong><%= @active_system_plan.company_id %></strong>
            </td>
            <td> Uniquely identifies your company and all related settings
            </td>
          </tr>
          <tr>
            <td> Subscription Plan:<br/>
              <strong><%= @active_system_plan.subscription_plan %></strong>
            </td>
            <td> This is a <%= @active_system_plan.subscription_plan %> Plan. You can upgrade anytime
            </td>
          </tr>
          <tr>
            <td>File Storage Quota:<br/>
              <strong><%= @active_system_plan.storage_quota %> GB</strong>
            </td>
            <td> Your plan allows for storing up to <%= @active_system_plan.storage_quota %> GB of files.
            </td>
          </tr>
          <tr>
            <td> Administrator Quota:<br/>
              <strong><%= @active_system_plan.admin_quota %></strong>
            </td>
            <td> Your plan allows for up to <%= @active_system_plan.admin_quota %> Administrators.
            </td>
          </tr>
          <tr>
            <td> Standard User Quota:<br/>
              <strong><%= @active_system_plan.user_quota %></strong>
            </td>
            <td> Your plan allows for <%= @active_system_plan.user_quota %> Standard User Accounts.
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>


  <div class="col-md-5">
    <div class="card card-primary">
      <!-- /.card-header -->
      <div class="card-header">
        <h3 class="card-title">Company Settings</h3>
      </div>
      <div class="card-body">
        <form action="/system_overview" method="post">
          <div class="card-body">
            <div class="form-group">
              <label for="companyName">Company Name</label>
              <input type="text" id="companyName" value="<%= @active_system_plan.company_name %>" disabled class="form-control">
            </div>
            <div class="form-group">
              <label for="billingEmail">Billing Email</label>
              <input type="email" required name="email" value="<%= @active_system_plan.billing_email %>" id="billingEmail" class="form-control">
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.system_overview').addClass('active');
    })
</script>