<div class="card">
  <div class="card-body ">
    <table id="example1" class="table-striped table-condensed" style="width: 100%;">
      <% if params[:type] == "asset" %>
        <thead>
        <tr>
          <th>Asset Name</th>
          <th>Asset Number</th>
          <th>Project</th>
          <th>Location</th>
          <th>Status</th>
          <th>Custodian</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Last Update</th>
        </tr>
        </thead>
        <tbody>
        <% @assets.each do |asset| %>
          <tr>
            <td><%= asset.name %></td>
            <td><%= asset.barcode %></td>
            <td><%= asset.project_details %></td>
            <td><%= asset.location_details %></td>
            <td><%= asset.state %></td>
            <td><%= asset.custodian %></td>
            <td><%= asset.brand %></td>
            <td><%= asset.model %></td>
            <td><%= asset.updated_at.strftime("%d.%m.%Y") %></td>
          </tr>
        <% end %>
        </tbody>
      <% end %>

      <% if params[:type] == "asset_stock" %>
        <thead>
        <tr>
          <th>Asset Name</th>
          <th>Asset Number</th>
          <th>Project</th>
          <th>Location</th>
          <th>Available Quantity</th>
          <th>Checked out Quantity</th>
        </tr>
        </thead>
        <tbody>
        <% @assets.each do |asset| %>
          <tr>
            <td><%= asset.name %></td>
            <td><%= asset.barcode %></td>
            <td><%= asset.project_details %></td>
            <td><%= asset.location_details %></td>
            <td style="text-align: center"><span><%= asset.total_quantity %></span></td>
            <td style="text-align: center"n><%= asset.checked_out_quantity %></td>
          </tr>
        <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
  <!-- /.card-body -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        <% if params[:type] == "asset" %>
        jQuery('.assets').addClass('active');
        jQuery('.list_assets_menu').addClass('active');
        jQuery('.assets-menu').addClass('menu-open');
        <% else %>
        jQuery('.asset_stock').addClass('active');
        jQuery('.list_asset_stock_menu').addClass('active');
        jQuery('.assets-stock-menu').addClass('menu-open');
        <% end %>

        $("#example1").DataTable({
            "aaSorting": [],
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "bFilter": false,
            "pageLength": 100
        })

    })

</script>