<section class="content">
  <div class="row">
    <div class="col-md-12">
      <!-- Buttons with Icons -->
      <div class="card">
        <div class="card-body row">
          <div>
            <button onclick="downloadAssetsCheckedOutCSV()" type="button" class="btn btn-primary">
              <i class="fa fa-file-csv"></i> Download CSV
            </button>
            <button onclick="downloadAssetsCheckedOutWorkBook()" type="button" class="btn btn-primary">
              <i class="fa fa-file-excel"></i> Download Excel
            </button>
            <button onclick="downloadAssetsCheckedOutPDF()" type="button" class="btn btn-primary">
              <i class="fa fa-file-pdf"></i> Download PDF
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">

          <div class="card-body">
            <table id="example1" class="table-striped table-condensed" style="width: 100%;">
              <thead>
              <tr>
                <th>Asset Name</th>
                <th>Asset Number</th>
                <th>Project</th>
                <th>Location</th>
                <th>Status</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Checked out Date</th>
                <th>Return On</th>
              </tr>
              </thead>
              <tbody>
              <% @assets.each do |asset| %>
                <tr>
                  <td><%= asset.name %></td>
                  <td><%= asset.barcode %></td>
                  <td><%= asset.project_details %></td>
                  <td><%= asset.location_details %></td>
                  <td><%= asset.state %></td>
                  <td><%= asset.brand %></td>
                  <td><%= asset.model %></td>
                  <td><%= asset.checked_out_date.strftime("%d.%m.%Y") rescue asset.checked_out_date %></td>
                  <td><%= asset.return_on_date.strftime("%d.%m.%Y") rescue asset.return_on_date %></td>
                </tr>
              <% end %>
              </tbody>
              <tfoot>
              <tr>
                <th>Asset Name</th>
                <th>Asset Number</th>
                <th>Location</th>
                <th>Status</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Checked out Date</th>
                <th>Return On</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.assets-checked-out').addClass('active');
        jQuery('.asset-reports-menu').addClass('active');
        jQuery('.reports-menu').addClass('menu-open');

        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        jQuery(".dt-buttons").removeClass("btn-group")
        jQuery(".dt-buttons > .btn-secondary").removeClass("btn-secondary").addClass("btn-primary")
    })

    function downloadAssetsCheckedOutCSV(){
        window.location = "/assets_checked_out_csv"
    }
    function downloadAssetsCheckedOutWorkBook(){
        window.location = "/assets_checked_out_work_book"
    }
    function downloadAssetsCheckedOutPDF(){
        window.location = "/download_assets_checked_out_pdf"
    }

</script>