<style>
    #companyLogo {
        border: 2px solid gray;
        float: right;
        right: 20px;
        margin-top: -120px;
        position: absolute !important;
    }
</style>
<hr />
<div class="container-fluid">
  <dl class="row">
    <dt class="col-sm-4">Company Name</dt>
    <dd class="col-sm-8"><%= @header || "N/A"%></dd>
    <dt class="col-sm-4">Report Type</dt>
    <dd class="col-sm-8"><%= @page_header %></dd>
  </dl>
  <% unless @logo_url.blank? %>
    <div class="image">
      <img id="companyLogo" height="80px" src="<%= @logo_url %>" class="elevation-2" alt="User Image">
    </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <div class="card">

        <div class="card-body">
          <table id="example1" class="table-striped table-condensed" style="width: 100%;">
            <thead>
            <tr>
              <th>Activity Name</th>
              <th>Asset Details</th>
              <th>Checkout Date</th>
              <th>Checkin Date</th>
              <th>Location</th>
              <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <% @check_in_out_activities.each do |asset_activity| %>
              <tr>
                <td><%= asset_activity.name %></td>
                <td><%= asset_activity.asset_details %></td>
                <td><%= asset_activity.checkout_date.strftime("%d.%m.%Y") rescue asset_activity.checkout_date %></td>
                <td><%= asset_activity.checkin_date.strftime("%d.%m.%Y") rescue asset_activity.checkin_date %></td>
                <td><%= asset_activity.location_details %></td>
                <td><%= asset_activity.notes %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  Generated on <%= Time.now %>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->