<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Asset Manager</title>
  <script src="/AdminLTE/plugins/jquery/jquery.min.js"></script>
  <script src="/AdminLTE/plugins/jquery-ui/jquery-ui.js"></script>
  <script src="/Highcharts/js/highcharts.js" type="text/javascript"></script>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/AdminLTE/plugins/fontawesome-free/css/all.min.css">
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/AdminLTE/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/assets/bootstrap-fileupload.min.css"/>

  <link rel="stylesheet" href="/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

  <!-- summernote -->
  <link rel="stylesheet" href="/AdminLTE/plugins/summernote/summernote-bs4.min.css">
  <!-- CodeMirror -->
  <link rel="stylesheet" href="/AdminLTE/plugins/codemirror/codemirror.css">
  <link rel="stylesheet" href="/AdminLTE/plugins/codemirror/theme/monokai.css">
</head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/logout" class="nav-link">Logout</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <!--<span class="badge badge-warning navbar-badge">15</span>-->
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="/list_assets" class="dropdown-item">
            Assets
            <span class="float-right text-muted text-sm"><span id="assetsCount">&nbsp;</span></span>
          </a>
          <a href="/asset_types" class="dropdown-item">
            Asset Types
            <span class="float-right text-muted text-sm"><span id="assetTypesCount">&nbsp;</span></span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="/list_people" class="dropdown-item">
            people
            <span class="float-right text-muted text-sm"><span id="peopleCount">&nbsp;</span></span>
          </a>
          <a href="/groups" class="dropdown-item">
            Groups
            <span class="float-right text-muted text-sm"><span id="groupsCount">&nbsp;</span></span>
          </a>
          <a href="/locations" class="dropdown-item">
            Locations
            <span class="float-right text-muted text-sm"><span id="locationsCount">&nbsp;</span></span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="/list_vendors" class="dropdown-item">
            Vendors
            <span class="float-right text-muted text-sm"><span id="vendorsCount">&nbsp;</span></span>
          </a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <span class="brand-text font-weight-light">Asset Manager</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/assets/user.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="/my_profile" class="d-block"><%= current_user.person_details rescue "" %></a>
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item dashboard-menu">
            <a href="/" class="nav-link dashboard">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>

          <li class="nav-item assets-menu">
            <a href="#" class="nav-link assets">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Assets
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/new_asset_menu" class="nav-link new_asset_menu">
                  <i class="far fa-circle nav-icon"></i>
                  <p>New Asset</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/list_assets" class="nav-link list_assets_menu">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All Assets</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/asset_types" class="nav-link asset_types_menu">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Asset Types</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item people-menu">
            <a href="#" class="nav-link people">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                People
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/new_person" class="nav-link new_person_menu">
                  <i class="far fa-circle nav-icon"></i>
                  <p>New Person</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/list_people" class="nav-link list_person_menu">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All People</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/groups" class="nav-link people_groups_menu">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All Groups</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/locations" class="nav-link people_locations_menu">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All Locations</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item vendors-menu">
            <a href="#" class="nav-link vendors">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Vendors
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/new_vendor" class="nav-link new_vendor_menu">
                  <i class="far fa-circle nav-icon"></i>
                  <p>New Vendor</p>
                </a>
              </li>
              <li class="nav-item ">
                <a href="/list_vendors" class="nav-link list_vendors_menu">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All vendors</p>
                </a>
              </li>
            </ul>
          </li>


          <li class="nav-header">Reports</li>
          <li class="nav-item reports-menu">
            <a href="#" class="nav-link asset-reports-menu">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Asset Reports
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/asset_list" class="nav-link asset-list">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Asset List</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/asset_details" class="nav-link asset-details">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Asset Details</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/assets_checked_out" class="nav-link assets-checked-out">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Assets Checked out</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item service-reports-menu">
            <a href="#" class="nav-link service-reports">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Service Reports
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/completed_service" class="nav-link completed-service">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Completed Service</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/overdue_service" class="nav-link overdue-service">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Overdue Service</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/service_schedule" class="nav-link service-schedule">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Service Schedule</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item other-reports-menu">
            <a href="#" class="nav-link other-reports">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Other Reports
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/personnel_list" class="nav-link personnel-list">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Personnel List</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/vendor_list" class="nav-link vendor-list">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Vendor List</p>
                </a>
              </li>
            </ul>
          </li>


          <li class="nav-header">System Options</li>
          <li class="nav-item">
            <a href="/system_overview" class="nav-link system_overview">
              <i class="nav-icon fas fa-circle"></i>
              <p>System Overview</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/selection_fields" class="nav-link selection_fields">
              <i class="nav-icon fas fa-circle"></i>
              <p>Selection Fields</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/service_items" class="nav-link service_items">
              <i class="nav-icon fas fa-circle"></i>
              <p>Service Items</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/report_options" class="nav-link report_options">
              <i class="nav-icon fas fa-circle"></i>
              <p>Report Options</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="export_all" class="nav-link export_all">
              <i class="nav-icon fas fa-circle"></i>
              <p>Export All</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><%= @page_header %></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active"><%= @page_header %></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <% if flash[:notice] %>
          <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-check"></i> Alert!</h5>
            <%= flash[:notice].html_safe %>
          </div>
        <% end %>

        <% if flash[:error] %>
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-ban"></i> Alert!</h5>
            <%= flash[:error].html_safe %>
          </div>
        <% end %>
        <%= yield %>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    <% if system_is_trial? %>
      <div style="bottom: 2px; position: fixed; right: 0px; margin-right: 23px" class="d-none d-sm-inline-block" id="draggable">
        <a href="/pricing" class="btn btn-primary">
          <i class="fa fa-unlock"></i>
          Upgrade your account <br/>
          <b><%= trial_days_remaining %> day(s) remaining</b>
        </a>
      </div>
    <% end %>
  </div>


  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer d-none d-sm-inline-block">
    <b>Subscription Plan:</b> <b id="subscriptionPlan">&nbsp;</b> |
    <b>Assets Quota:</b> <b id="assetsQuota">&nbsp;</b> |
    <b>Assets Usage:</b> <b id="assetsQuotaUsage">&nbsp;</b> |
    <b>File Storage Quota:</b> <b id="fileStorageQuota">&nbsp;</b> |
    <b>File Storage Usage:</b> <b id="fileStorageUsage">&nbsp;</b> |
    <b>Administrator Quota:</b> <b id="administratorQuota">&nbsp;</b> |
    <b>Administrator Usage:</b> <b id="administratorQuotaUsage">&nbsp;</b>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<!-- Bootstrap -->
<script src="/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/AdminLTE/plugins/jszip/jszip.min.js"></script>
<script src="/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<!-- AdminLTE -->
<script src="/AdminLTE/dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="/AdminLTE/plugins/chart.js/Chart.min.js"></script>
<!--<script src="/AdminLTE/dist/js/pages/dashboard2.js"></script>-->
<script src="/assets/bootstrap-fileupload.js"></script>
<!-- Summernote -->
<script src="/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>
<!-- CodeMirror -->
<script src="/AdminLTE/plugins/codemirror/codemirror.js"></script>
<script src="/AdminLTE/plugins/codemirror/mode/css/css.js"></script>
<script src="/AdminLTE/plugins/codemirror/mode/xml/xml.js"></script>
<script src="/AdminLTE/plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/AdminLTE/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script type="text/javascript">
    function goBack() {
        window.history.back()
    }

    $(document).ready(function () {
        jQuery("#draggable").draggable();

        jQuery.ajax({
            type: "POST",
            url: "/items_count",
            data: "",
            beforeSend: function () {
                jQuery('#assetsCount').html("Loading...")
                jQuery('#assetTypesCount').html("Loading...")
                jQuery('#peopleCount').html("Loading...")
                jQuery('#groupsCount').html("Loading...")
                jQuery('#locationsCount').html("Loading...")
                jQuery('#vendorsCount').html("Loading...")
            },
            error: function (xhr, ajaxOptions, thrownError) {

            },
            success: function (result) {
                var assets_count = result["assets_count"]
                var asset_types_count = result["asset_types_count"]
                var people_count = result["people_count"]
                var groups_count = result["groups_count"]
                var locations_count = result["locations_count"]
                var vendors_count = result["vendors_count"]

                jQuery('#assetsCount').html(assets_count)
                jQuery('#assetTypesCount').html(asset_types_count)
                jQuery('#peopleCount').html(people_count)
                jQuery('#groupsCount').html(groups_count)
                jQuery('#locationsCount').html(locations_count)
                jQuery('#vendorsCount').html(vendors_count)
            }
        })

        jQuery.ajax({
            type: "POST",
            url: "/subscription_plan_summary",
            data: "",
            beforeSend: function () {
                jQuery('#subscriptionPlan').html("Loading...")
                jQuery('#assetsQuota').html("Loading...")
                jQuery('#assetsQuotaUsage').html("Loading...")
                jQuery('#fileStorageQuota').html("Loading...")
                jQuery('#fileStorageUsage').html("Loading...")
                jQuery('#administratorQuota').html("Loading...")
                jQuery('#administratorQuotaUsage').html("Loading...")
            },
            error: function (xhr, ajaxOptions, thrownError) {

            },
            success: function (result) {
                var subscription_plan = result["subscription_plan"]
                var admin_quota = result["admin_quota"]
                var admin_usage = result["admin_usage"]
                var assets_quota = result["assets_quota"]
                var assets_usage = result["assets_usage"]
                var file_storage_quota = result["file_storage_quota"]
                var file_storage_usage = result["file_storage_usage"]

                jQuery('#subscriptionPlan').html("<a href='#'>" + subscription_plan + "</a>")
                jQuery('#assetsQuota').html("<a href='#'>" + assets_quota + "</a>")
                jQuery('#assetsQuotaUsage').html("<a href='#'>" + assets_usage + "</a>")
                jQuery('#fileStorageQuota').html("<a href='#'>" + file_storage_quota + "</a>")
                jQuery('#fileStorageUsage').html("<a href='#'>" + file_storage_usage + "</a>")
                jQuery('#administratorQuota').html("<a href='#'>" + admin_quota + "</a>")
                jQuery('#administratorQuotaUsage').html("<a href='#'>" + admin_usage + "</a>")
            }
        })
    })
</script>
</body>
</html>